[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
xlrd = "~=1.2"
black = "*"

[packages]
pandas = "~=0.25"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
